{
  "presets": [
    "react-native",
  ],
  "plugins": [
    "transform-react-display-name",
    "transform-decorators-legacy",
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source",
        "react-hot-loader/babel",
      ]
    }
  }
}
