{
  "presets": [
    "react-native"
  ],
  "plugins": [
    "transform-react-display-name",
    "transform-decorators-legacy",
    ["rewrite-require", {
      "aliases": {
        "crypto": "crypto-browserify",
        "stream": "stream-browserify",
        "vm": "vm-browserify"
      }
    }]
  ],
  "env": {
    "test": {
      "plugins": [
        "babel-jest-assertions"
      ]
    }
  }
}
