{
  "presets": [
    "react",
    "es2015"
  ],
  "plugins": [
    "external-helpers",
    "transform-react-display-name",
    "transform-decorators-legacy",
    "styled-components"
  ],
  "env": {
    "development": {
      "plugins": [
        ["react-transform", {
          "transforms": [{
            "transform": "livereactload/babel-transform",
            "imports": ["react"]
          }]
        }]
      ]
    }
  }
}
