{
  "extends": ["standard", "prettier"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "jest": true
  },
  "plugins": [ "react", "prettier" ],
  "rules": {
    "generator-star-spacing": ["error", {"before": true, "after": false}],
    "no-multiple-empty-lines": 0,
    "yoda": 0,
    "comma-dangle": 0,
    "one-var": 0,
    "brace-style": 0,
    "react/jsx-uses-vars": 2,
    "react/jsx-uses-react": 2,
    "prettier/prettier": [
      "error",
      {
        bracketSpacing: true,
        jsxBracketSameLine: true,
        printWidth: 80,
        semi: false,
        singleQuote: true,
        tabWidth: 2,
        trailingComma: "none",
        useTabs: false
      }
    ]
  },
  "globals": {
    "__DEV__": true,
    "window": true,
    "fetch": true
  }
}
