# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# build
vendor/
build/
out/
appConfig*.json

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# android
assets/
build/
android/.idea
.gradle/
Config.java

# ios
Pods
config.h

# mobile build
buildConfig.json
fastlane/report.xml
*.ipa
*.apk
build-tools/deploy/data
google-play-service-account.json
