doctype
html
  head
    meta(charset="UTF-8")
    title Meth dapp browser
  body
    main#react-root
    script(type="text/javascript", src="./js/globals.js")
    script(type="text/javascript", src="./js/app.js")
