doctype
html(style="font-size: 16px")
  head
    meta(charset="UTF-8")
    title Meth Dapp Browser
  body(style="margin:0;padding:0;box-sizing:border-box;")
    main#react-root
    script(type="text/javascript", src="./js/globals.js")
    script(type="text/javascript", src="./js/app.js")
